<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Выбираем корабль и дату полета
  </title>
</head>
<body>
  <div class='container'>
    <h2>Заказ полета</h2>
    <form actions="" method="POST">
      {% csrf_token %}
      <!-- название всего поля (всей группы радиокнопок)-->
      {{ space_form.ship.label }}
      <!-- запускаем цикл по полю == перебираем все радиокнопки -->
      {% for radiobutton in space_form.ship %}
        <!-- рендерим саму кнопку -->
        {{ radiobutton.tag }}
        <!-- рендерим подпись, переопределив тег label, чтобы добавить новый -->
        <label for="{{ radiobutton.id_for_label }}" style="color: red;">
          {{ radiobutton.choice_label }}
        </label>
      {% endfor %}
    </form>
  </div>
</body>
</html>